@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {box-sizing: border-box;}

body {
	background: linear-gradient(0deg, rgba(235, 240, 255, 0.05), rgba(235, 240, 255, 0.05)), rgba(255, 255, 255, 0.95);
	overflow-x:  hidden;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 120px 0px;
	gap: 25px;

	left: 0px;
	top: 0px;
}

header {
	display: inline-flex;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	align-items: right;
	overflow: hidden;
	flex-direction: row;
}

#header__navbar-bars {
	display: none;
}

#header__navbar-bars a {
	text-decoration: none;
	color:  #000;
}


#header__logo {
	width: 173px;
	height: 90px;
	left: 0px;
	margin-top:  -3.5px;
}

.header__navbar {
	display: flex;
  	list-style-type: none;
  	flex-direction: row;
  	/*justify-content: flex-end;*/
  	margin-left: auto;
}

.header__navbar-item a {
	align-items: center;
	padding: 15px 35px;
	gap: 75px;
	column-gap: 25px;
}

.header__navbar-item-a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;


	/* Inside auto layout */

	text-decoration: none;
}

.header__navbar-item-active {
	padding-left:  20px;
}

.header__navbar-item-active a {
	background-color:  lightgrey;
}

.header__navbar-item-active a:hover {
	background-color:  	#DCDCDC;
}

#header__navbar-mobile-menu {
	display: none;
	height:  auto;
	width:  100%;
	margin-left:  -25px;
	margin-top:  -25px;
}

.header__navbar-mobile {
	display: flex;
  	list-style-type: none;
  	flex-direction: column;
  	align-items: flex-start;
  	margin-left:  auto;
}

.header__navbar-mobile-item-a {
		font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;


	/* Inside auto layout */

	text-decoration: none;
	padding-top: 20px;
}


.section {
	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;
}

.section h2 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	/*display: flex;*/
	align-items: center;
	text-align: center;

	color: #000000;

}

#jumb {
	position:  relative;
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

#jumb__mobile {
	display:  none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#jumb__overlay {
	padding:  5%;
	background-color:  whitesmoke;
	position:  absolute;
	margin-top:  -50vh;
	opacity: 0.95;
	height:  auto;
}

@media screen and (max-width: 1000px) {
	#jumb {
		display:  none;
	}
}

@media only screen and (max-device-width: 480px) {
	header {
		justify-content: center;
		display:  inline-flex;
	}

	#header__navbar-bars {
		display:  block;
		position:  relative;
		margin-top:  30px;
		margin-left:  auto;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		gap: 25px;

		left: 0px;
		top: 0px;
	}

	#jumb__mobile {
		display:  flex !important;
		flex-direction: column;
		width:  100%;
	}

	#jumb__heading-title {
		font-size: 32px !important;
	}


	.header__navbar {
		display: none;
	}

	#leadership__entries {
		display: flex !important;
		flex-direction: column !important;
	}


}


#jump__img {
	max-width: 100vw;
}


#jumb__heading-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 87px;
	display: flex;
	align-items: center;
	letter-spacing: 0.025em;

	color: #000000;
}

#jumb__heading-desc {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	display: flex;
	align-items: center;
	letter-spacing: 0.025em;

	color: #000000;
}

#what-we-do__content {
	text-align:  center;
}

.what-we-do__element {
	padding: 25px 15px;
	gap: 15px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;

	text-align: center;

	color: #000000;

}

.wwd-grey {
	color:  grey;
}

.wwd-light-grey {
	color:  lightgrey;
}

#leadership__entries {
	display: inline-flex;
	flex:  1;
}

.leadership__entry {
	display:  flex;
	flex:  1;
	width:  275px;
	flex-direction: column;
	text-align: center;
	padding: 0 10px;
	justify-items: center;
}

.leadership__entry img {
  border-radius: 50%;
  max-width: 128px;
  max-height:  128px;
  justify-self: center;
  margin:  auto;
}

.leadership__entry h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.leadership__entry h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-top:  -25px;
}

.section__img {
	max-width: 100vw;
}

.partners__logo {
	width: 246px;
	height: 125px;
	left: 0px;
	top: 5px;
}

footer {
	text-align:  center;
	padding-top:  25px;
}

#footer__mail-contact a {
	text-decoration: none;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 43px;


	color: #000000;
}

#footer__mail-contact a:hover {
	color: grey;
}

#footer__copyright-notice {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.footer__social-media {
	color: grey;
}

.footer__social-media:hover {
	color: lightgrey;
}